source "$SIFLI_SDK/Kconfig.v2"
source "$SIFLI_SDK/customer/boards/Kconfig.v2"
source "D:/xiaozhi_sf32/xiaozhi-sf32/sdk/customer/boards/sf32lb52-lchspi-ulp/lcpu/Kconfig.board"
osource "D:/xiaozhi_sf32/xiaozhi-sf32/sdk/example/ble/lcpu_general/project/common/sf-pkgs/Kconfig.conandeps"
source "D:/xiaozhi_sf32/xiaozhi-sf32/sdk/example/ble/lcpu_general/project/common/Kconfig.proj"